{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static','js/validator.js')}}"></script>
<script src="{{=URL('static','js/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-datepicker3.css')}}" />

<style>
      .btn {
        margin: 2px ;
      }
      .edit_address {
       }
      .tooltip {
        font-size: 8px;
       }
      .alert, .alert_main, .alert_address, .alert_phone {
        margin-left: 20px;
        margin-bottom: 0px;
        padding: 8px;
       }
       #panel_addresses .glyphicon, .glyphicon-remove, .glyphicon-edit {
         padding: 10px;
       }
      .glyphicon-remove {
        color: red;
       }
      #edit_phone_form {
        padding-left: 10px;
      }

      #edit_phone_form .phone_prefix_pid13_1 {
        width:  70px;
      }
</style>
{{end}}
{{block header}}
    <header class="container-fluid ">
      <div class="jumbotron text-center">
        <h2><span class="last_name"></span> <span class="first_name"></span></h2>
        <h3><strong><span class="dob_pid7"></span></strong></h3>
      </div>
    </header>
{{end}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary" id="panel_details">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs pull-right" id="edit_main" name="button">Edit</button>
          <h4 class="panel-title">Main details <span class="alert_main"></span></h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <ul class="list-group">
              <li class="list-group-item"><strong>First Name:</strong> <span class="pull-right first_name"><span></li>
              <li class="list-group-item"><strong>Last Name:</strong> <span class="pull-right last_name"><span></li>
              <li class="list-group-item"><strong>Maiden name:</strong> <span class="pull-right maiden_name_pid6"><span></li>
              <li class="list-group-item"><strong>Gender:</strong> <span class="pull-right gender_pid8"><span></li>
              <li class="list-group-item"><strong>Date of birth:</strong> <span class="pull-right dob_pid7"><span></li>
              <li class="list-group-item"><strong>Email:</strong> <span class="pull-right email_user"></li>
              <li class="list-group-item"><strong>Town of birth:</strong> <span class="pull-right birth_town_pid23"><span></li>
              <li class="list-group-item"><strong>Country of birth:</strong> <span class="pull-right birth_country_pid23"><span></li>
              <li class="list-group-item"><strong>ID card number:</strong> <span class="pull-right idc_num"><span></li>
              <li class="list-group-item"><strong>Social security number:</strong> <span class="pull-right ssn_pid19"><span></li>
              <li class="list-group-item"><strong>Notes:</strong> <span class="pull-right user_notes"><span></li>
            </ul>
          </ul>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info" id="panel_addresses">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs pull-right" name="button" id="new_address">New</button>
          <h4 class="panel-title">Addresses <span class="alert_address"></span></h4>
        </div>
        <div class="panel-body">
          <ol>
            <ul class="list-group" id="addresses_list">
            </ul>
          </ol>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info" id="panel_phones">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs pull-right" name="button" id="new_phone">New</button>
          <h4 class="panel-title">Phones <span class="alert_phone"></span></h4>
        </div>
        <div class="panel-body">
          <ol>
            <ul class="list-group" id="phones_list">
            </ul>
          </ol>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit_main_form" role="form"> <!-- data-toggle="validator" -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title .text-center">File ID n°<span class="user_id"></span></h4>
        </div>
        <div class="modal-body">
          <div class="form-group hidden">
            <label>ID:</label>
            <input type="text" class="form-control user_id" name="id" placeholder="ID" value="">
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label>First name:</label>
            <div class="input-group">
              <input type="text" class="form-control first_name" name="first_name" placeholder="First name" value="" required>
            </div>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-6">
              <label>Last name:</label>
              <input type="text" class="form-control last_name" name="last_name" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-group">
            <label>Maiden name</label>
            <input type="text" class="form-control maiden_name_pid6" name="maiden_name_pid6" placeholder="Maiden name">
          </div>
          <div class="form-group">
            <label class="radio-inline"><input type="radio" name="gender_pid8" value="1" required>Male</label>
            <label class="radio-inline"><input type="radio" name="gender_pid8" value="2" required>Female</label>
            <label class="radio-inline"><input type="radio" name="gender_pid8" value="3" required>Undetermined</label>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label">Email:</label>
            <input type="email" class="form-control email_user" name="email" placeholder="email" id="inputEmail" data-error="Email address is required or invalid" required>
          </div>
          <div class="row">
              <div class="form-group col-sm-6">
                <label>Password:</label>
                <input type="password" class="form-control password" id="user_pass" name="password" placeholder="Password" data-minlenght="6" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors">Minimum of 6 characters</div>
              </div>
              <div class="form-group col-sm-6">
                <label>Confirm password:</label>
                <input type="password" class="form-control password" name="passwordcheck" placeholder="Password" data-match-error="Please match passwords" data-match="#user_pass">
                <div class="help-block with-errors"></div>
              </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
                <label>Date of birth:</label>
                <div class="input-group"><input type="text" class="form-control dob_pid7 datepicker" name="dob_pid7" placeholder="dob" pattern="^\d{4}-((0[1-9])|(1[012]))-((0[1-9]|[12]\d)|3[01])$" required>
                <div class="input-group-addon"><span class="glyphicon glyphicon-th" onclick="$('#edit_main_form .datepicker').datepicker('show');" ></span></div></div>
            </div>
            <div class="form-group col-sm-4">
                <label>Town of birth:</label>
                <input type="text" class="form-control birth_town_pid23" name="birth_town_pid23" placeholder="Town of birth">
            </div>
            <div class="form-group col-sm-4">
                <label>Country of birth:</label>
                <input type="text" class="form-control birth_country_pid23" name="birth_country_pid23" placeholder="Country of birth">
            </div>
          </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label>ID card number:</label>
                <input type="text" class="form-control idc_num" name="idc_num" placeholder="ID card number">
              </div>
              <div class="form-group col-sm-6">
                <label>Social security number:</label>
                <input type="text" class="form-control ssn_pid19" name="ssn_pid19" placeholder="Social security number">
              </div>
            </div>
            <div class="row">
              .<div class="form-group col-sm-12">
                <label>Notes:</label>
                <input type="text" class="form-control user_notes" name="user_notes" placeholder="User notes">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_address" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit_address_form" role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title .text-center">Address ID<span class="id"></span></h4>
        </div>
        <div class="modal-body">
          <div class="form-group hidden">
            <label>address ID:</label>
            <input type="text" class="form-control id" name="id" placeholder="Address ID" value="">
          </div>
          <div class="form-group hidden">
            <label>User ID:</label>
            <input type="text" class="form-control id_auth_user" name="id_auth_user" placeholder="ID" value="{{=user_id}}">
          </div>
          <div class="row">
            <div class="form-group col-sm-2">
              <label>Number:</label>
              <div class="input-group">
              <input type="text" class="form-control home_num_pid11_1" name="home_num_pid11_1" placeholder="Home number" value="" required>
              </div>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-1">
              <label>Box:</label>
              <div class="input-group">
              <input type="text" class="form-control box_num_pid11_2" name="box_num_pid11_2" placeholder="Box number" value="">
              </div>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-9">
              <label>Street:</label>
              <input type="text" class="form-control address1_pid11_3" name="address1_pid11_3" placeholder="Street name 1" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Street (optionnal):</label>
              <input type="text" class="form-control address2_pid11_4" name="address2_pid11_4" placeholder="Street name 2">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label>ZIP:</label>
              <input type="text" class="form-control zipcode_pid11_5" name="zipcode_pid11_5" placeholder="ZIP code" required>
            </div>
            <div class="form-group col-sm-4">
              <label>Town:</label>
              <input type="text" class="form-control town_pid11_6" name="town_pid11_6" placeholder="Town name" required>
            </div>
            <div class="form-group col-sm-5">
              <label>Country:</label>
              <input type="text" class="form-control country_pid11_7" name="country_pid11_7" placeholder="Country name" required>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="modal_phone" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit_phone_form" class="form-inline" role="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Phone ID <span class="id"></span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group hidden">
          <label>phone ID:</label>
          <input type="text" class="form-control id" name="id" placeholder="Phone ID" value="">
        </div>
        <div class="form-group hidden">
          <label>User ID:</label>
          <input type="text" class="form-control id_auth_user" name="id_auth_user" placeholder="ID" value="{{=user_id}}">
        </div>
        <div class="row">
          <div class="form-group">
            <label class="sr-only">Prefix:</label>
            <input type="text" class="form-control phone_prefix_pid13_1" name="phone_prefix_pid13_1" placeholder="Prefix" required>
          </div>
          <div class="form-group">
            <label class="sr-only">Phone:</label>
            <input type="text" class="form-control phone_pid13_2" name="phone_pid13_2" placeholder="Phone" required>
          </div>
          <div class="form-group hidden">
            <label>phone ID:</label>
            <input type="text" class="form-control phone_origin" name="phone_origin" placeholder="" value="Mobile">
          </div>
          <div class="form-group">
            <label class="sr-only">Origin:</label>
            <select class="c-select form-control phone_origin">
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script>
var user_id = {{=user_id}};
var origin = {{=origin_json}}
var API_URL = '{{=URL('api','users/user', scheme=True, host=True)}}/';
var addresses = {},
  phones = {};

$(function () {
  var $modal = $('#modal').modal({show: false}),
      $modal_address = $('#modal_address').modal({show: false}),
      $modal_phone = $('#modal_phone').modal({show: false});
  $('.alert_main').hide();
  $('.alert_phone').hide();
  $('.alert_address').hide();

  main_details(user_id);
  addresses_details(user_id);
  phones_details(user_id);
  data_origin(origin.phones); // fill selection in dropdown

  $('body').on( 'click', '#addresses_list .glyphicon-edit', function() {
    row = addresses[$(this).attr("data-key")];
    addresses_form = { '#edit_address_form .id': row.id, '#edit_address_form .home_num_pid11_1': row.home_num_pid11_1, '#edit_address_form .box_num_pid11_2': row.box_num_pid11_2,
      '#edit_address_form .address1_pid11_3': row.address1_pid11_3,  '#edit_address_form .address2_pid11_4':row.address2_pid11_4, '#edit_address_form .zipcode_pid11_5':row.zipcode_pid11_5,
      '#edit_address_form .town_pid11_6': row.town_pid11_6, '#edit_address_form .country_pid11_7': row.country_pid11_7,
      '#edit_address_form .id_auth_user':row.id_auth_user };
    fill_user(addresses_form,'form');
    $modal_address.modal('show');
  });

  $('body').on( 'click', '#phones_list .glyphicon-edit', function() {
    row = phones[$(this).attr("data-key")];
    phones_form = { '#edit_phone_form .id': row.id, '#edit_phone_form .id_auth_user': row.id_auth_user, '#edit_phone_form .phone_prefix_pid13_1': row.phone_prefix_pid13_1, '#edit_phone_form .phone_pid13_2': row.phone_pid13_2,
      '#edit_phone_form .phone_origin': row.phone_origin
    };
    fill_user(phones_form,'form');
    $modal_phone.modal('show');
  });

  $("body").tooltip({ selector: '[data-toggle=tooltip]' });

  $('#edit_main').click(function () {
    $modal.modal('show');
   });

  $('#new_address').click(function () {
     resetForm($('#edit_address_form'));
     $modal_address.modal('show');
     $('#modal_address .modal-title').text('Add a new address');
    });

  $('#new_phone').click(function () {
      resetForm($('#edit_phone_form'));
      $('#edit_phone_form select.phone_origin').val('Mobile');
      $('#edit_phone_form input.phone_origin').val('Mobile');
      $modal_phone.modal('show');
      $('#modal_phone .modal-title').text('Add a new phone');
     });

  $('#edit_phone_form select.phone_origin').change(function () {
     $('#edit_phone_form input.phone_origin').val($(this).val());
     });

  $('#edit_main_form .datepicker').datepicker({
    format: "yyyy-mm-dd"
               });

   $('#modal', '#modal_address', '#modal_phone')
     .on('shown.bs.modal', function (e) {
      $('#edit_main_form').validator();
      $('#edit_address_form').validator();
      $('#edit_phone_form').validator();
      $('#edit_main_form .datepicker').datepicker({
          format: "yyyy-mm-dd"
          });
      })
     .on('hidden.bs.modal', function (e) {
      $('#new_patient').validator('destroy');
      $('#edit_address_form').validator('destroy');
      $('#edit_phone_form').validator('destroy');
      $('#edit_main_form .datepicker').validator('destroy');
     });

  $modal.find('.submit').click(function (e) {
    if ( $('#edit_main_form .submit').hasClass('disabled'))
      { e.preventDefault();
        return true; }
      else {
      var row = {};
      e.preventDefault(); // on empeche l'envoi du formulaire par le navigateur
      $modal.find('input[name]').each(function () {
        row[$(this).attr('name')] = $(this).val();
      });
      row['gender_pid8'] = $('input:radio[name=gender_pid8]').filter(':checked').val();
      row['first_name'] = titleCase($('input[name=first_name]').val());
      row['last_name'] = titleCase($('input[name=last_name]').val());
      delete row['passwordcheck'];
      var API_URL = '{{=URL('api','users/auth_user', scheme=True, host=True)}}/';
      $.ajax({
        url: API_URL+user_id,
        type: 'put',
        contentType: 'application/json',
        data: JSON.stringify(row),
        success: function () {
          $modal.modal('hide');
          main_details(user_id);
          showAlert('Updated','success', 'alert_main');
          },
          error: function () {
            $modal.modal('hide');
            showAlert('Updated item error!','danger', 'alert_main');
          }
        });
    }
  });

  $modal_address.find('.submit').click(function (e) {
    if ( $('#edit_address_form .submit').hasClass('disabled'))
      { e.preventDefault();
        return true; }
      else {
      var row = {}, req;
      e.preventDefault(); // on empeche l'envoi du formulaire par le navigateur
      $('#edit_address_form').find('input[name]').each(function () {
        row[$(this).attr('name')] = $(this).val();
      });
      if (row['id'] == '') {
        req = 'POST';
        delete row['id'];
      } else { req = 'PUT';}
      row['id_auth_user'] = user_id;
      row['address1_pid11_3'] = titleCase($('input[name=address1_pid11_3]').val());
      row['address2_pid11_4'] = titleCase($('input[name=address2_pid11_4]').val());
      row['town_pid11_6'] = titleCase($('input[name=town_pid11_6]').val());
      row['country_pid11_7'] = titleCase($('input[name=country_pid11_7]').val());
      post_address_form(row,req);
      }
  });

  $modal_phone.find('.submit').click(function (e) {
    if ( $('#edit_phone_form .submit').hasClass('disabled'))
      { e.preventDefault();
        return true; }
      else {
      var row = {}, req;
      e.preventDefault(); // on empeche l'envoi du formulaire par le navigateur
      $('#edit_phone_form').find('input[name]').each(function () {
        row[$(this).attr('name')] = $(this).val();
      });
      if (row['id'] == '') {
        req = 'POST';
        delete row['id'];
      } else { req = 'PUT';}
      row['id_auth_user'] = user_id;
      post_phone_form(row,req);
      }
  });

function addresses_details(id) {
    var API_URL = '{{=URL('api','users/address', scheme=True, host=True)}}/';
    $.ajax({
      url: API_URL + id+'.json',
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        addresses = data.content;
        li_address(addresses);
        },
      error: function () {
        alert('Address not found!');
        }
    });
}

function phones_details(id) {
    var API_URL = '{{=URL('api','users/phone', scheme=True, host=True)}}/';
    $.ajax({
      url: API_URL + id+'.json',
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        phones = data.content;
        li_phone(phones);
        },
      error: function () {
        alert('Phone not found!');
        }
    });
}

function li_address (row) {
  var html = [];
  $.each(row, function (key, value) {
    html.push('<li id="li_address'+key+'" class="list-group-item clearfix" data-toggle="tooltip" data-placement="top" data-createdby="'+test_null(row[key]['created_by'],'unknown')+ '" data-modifiedby="'+test_null(row[key]['modified_by'],'unknown')+ '" data-modifiedon="'+ test_null(row[key]['modified_on'],'unknown time')+'" title="">');
    html.push('<span>'+test_null(row[key]['home_num_pid11_1'],'')+' </span><span>'+ test_null(row[key]['box_num_pid11_2'],'') +' </span><span>'+ test_null(row[key]['address1_pid11_3'],'') + ' '+ test_null(row[key]['address2_pid11_4'],'') +'</span></br>');
    html.push('<span> '+ test_null(row[key]['zipcode_pid11_5'],'') + '</span><span> ' + test_null(row[key]['town_pid11_6'],'') + ' </span><span>' + test_null(row[key]['country_pid11_7'],'')+ '</span>');
    html.push('<span id="remove_' +row[key]['id']+ '" data-id="' +row[key]['id']+ '" class="pull-right glyphicon glyphicon-remove" data-type="address"></span><span id="edit_' +row[key]['id']+ '" data-id="' +row[key]['id']+ '" data-key="' +key+ '" class="pull-right glyphicon glyphicon-edit"></span></li>');
    get_user_name(test_null(row[key]['created_by'],'0'),key,'data-createdby', 'address');
    get_user_name(test_null(row[key]['modified_by'],'0'),key,'data-modifiedby', 'address');
  });
  $('#addresses_list').html(html.join(''));
}

function data_origin(row) {
  var html = [];
  $.each(row, function (key, value) {
    html.push('<option value='+row[key]['origin']+'>'+row[key]['origin']+'</option>');
  });
  $('#edit_phone_form select.phone_origin').html(html.join(''));
}

function li_phone (row) {
  var html = [];
  $.each(row, function (key, value) {
    html.push('<li id="li_phone'+key+'" class="list-group-item clearfix" data-toggle="tooltip" data-placement="top" data-createdby="'+test_null(row[key]['created_by'],'unknown')+ '" data-modifiedby="'+test_null(row[key]['modified_by'],'unknown')+ '" data-modifiedon="'+ test_null(row[key]['modified_on'],'unknown time')+'" title="">');
    html.push('<span>+'+test_null(row[key]['phone_prefix_pid13_1'],'')+' </span><span>'+ test_null(row[key]['phone_pid13_2'],'') +' </span><span>'+ test_null(row[key]['phone_origin'],'') + '</span>');
    html.push('<span id="remove_' +row[key]['id']+ '" data-id="' +row[key]['id']+ '" class="pull-right glyphicon glyphicon-remove" data-type="phone"></span><span id="edit_' +row[key]['id']+ '" data-id="' +row[key]['id']+ '" data-key="' +key+ '" class="pull-right glyphicon glyphicon-edit"></span></li>');
    get_user_name(test_null(row[key]['created_by'],'0'),key,'data-createdby', 'phone');
    get_user_name(test_null(row[key]['modified_by'],'0'),key,'data-modifiedby', 'phone');
  });
  $('#phones_list').html(html.join(''));
}

function post_address_form(row,req) {
  var API_URL = (req == 'POST' ? '{{=URL('api','users/address', scheme=True, host=True)}}/' : '{{=URL('api','users/address', scheme=True, host=True)}}/'+ row.id);
  var mode = (req == 'POST' ? 'add':'edit');
  $.ajax({
    url: API_URL,
    type: req == 'POST' ? 'post':'put',
    contentType: 'application/json',
    data: JSON.stringify(row),
    success: function (text) {
      id = text.slice(text.indexOf('id(')+3,text.indexOf(') ***'));
      if ( id == 'None') {
        $modal_address.modal('hide');
        showAlert('Unable to '+mode+' address','danger','alert_address');
      } else {
      $modal_address.modal('hide');
      resetForm($('#edit_address_form'));
      showAlert(titleCase(mode+'ed'),'success','alert_address');
      addresses_details({{=user_id}});
      }
      },
      error: function () {
        $modal_address.modal('hide');
        showAlert('Unable to '+mode+'  address!','danger','alert_address');
      }
    });
}

function post_phone_form(row,req) {
  var API_URL = (req == 'POST' ? '{{=URL('api','users/phone', scheme=True, host=True)}}/' : '{{=URL('api','users/phone', scheme=True, host=True)}}/'+ row.id);
  var mode = (req == 'POST' ? 'add':'edit');
  $.ajax({
    url: API_URL,
    type: req == 'POST' ? 'post':'put',
    contentType: 'application/json',
    data: JSON.stringify(row),
    success: function (text) {
      id = text.slice(text.indexOf('id(')+3,text.indexOf(') ***'));
      if ( id == 'None') {
        $modal_phone.modal('hide');
        showAlert('Unable to '+mode+' phone','danger','alert_phone');
      } else {
      $modal_phone.modal('hide');
      resetForm($('#edit_phone_form'));
      showAlert(titleCase(mode+'ed'),'success','alert_phone');
      phones_details({{=user_id}});
      }
      },
      error: function () {
        $modal_phone.modal('hide');
        showAlert('Unable to '+mode+' phone!','danger','alert_phone');
      }
    });
}

function test(obj,type) {
  alert($(obj).attr("data-id")+type);
}

function showAlert(title, type, panel) {
  $('.'+panel).attr('class', panel+' alert alert-' + type || 'success')
    .html('<i class="glyphicon glyphicon-check"></i> ' + title).show();
  setTimeout(function () {
    $('.'+panel).hide();
  }, 3000);
}

$('body').on( 'click', 'li .glyphicon-remove', function() {
  var row2remove = $(this).attr("data-type"),
      API_URL = '{{=URL('api','users/', scheme=True, host=True)}}/'+row2remove+'/'+$(this).attr("data-id");
  if (confirm('Are you sure to delete this '+row2remove+' ?')) {
      $.ajax({
          url: API_URL,
          type: 'delete',
          success: function () {
              showAlert('Delete '+row2remove+' successful!', 'success', 'alert_'+row2remove);
              if (row2remove == 'address') {
                addresses_details({{=user_id}});
              } else if (row2remove == 'phone') {
                phones_details(user_id);
              }
          },
          error: function () {
              showAlert('Delete '+row2remove+' error!', 'danger', 'alert_'+row2remove);
          }
      });
  }
});

}); // doc ready


function titleCase(string) {
  return string.charAt(0).toUpperCase() + string.slice(1); }

function fill_user(key_val, panel) {
  for (key in key_val) {
    if (key_val[key] == null) {
      key_val[key] = null;
    } else if (key == '.gender_pid8') {
      if (key_val[key] == 1) {
        key_val[key] = 'Male';
        $('input:radio[name=gender_pid8]').filter('[value=1]').prop('checked',true);
      } else if (key_val[key] == 2) {
        key_val[key] = 'Female';
        $('input:radio[name=gender_pid8]').filter('[value=2]').prop('checked',true);
      } else {
        key_val[key] = 'Undetermined';
        $('input:radio[name=gender_pid8]').filter('[value=3]').prop('checked',true);
      };
    } else if ( key == '.dob_pid7') {
        key_val[key] = reverseDate(key_val[key]);
    }
    if (panel == 'details') {
      $(key).html(key_val[key]);
    }
    else if (panel == 'form') {
      $(key).val(key_val[key]);
      $(key).attr('value',key_val[key]);
    } else {};
  }
}

function reverseDate(dateStr) {
    var parts = dateStr.split("-");
    date_fr = parts.reverse();
    return date_fr.join('/');
}

function main_details(id) {
  $.ajax({
    url: API_URL + id+'.json',
    type: 'GET',
    dataType: 'json',
    contentType: 'application/json',
    success: function (data) {
      user = data.content[0];
      main_data = { '.user_id': user.id,'.first_name': user.first_name, '.last_name':user.last_name, '.maiden_name_pid6':user.maiden_name_pid6, '.gender_pid8': user.gender_pid8,
          '.dob_pid7': user.dob_pid7, '.email_user': user.email, '.birth_town_pid23': user.birth_town_pid23, '.birth_country_pid23': user.birth_country_pid23,
           '.idc_num':user.idc_num, '.ssn_pid19': user.ssn_pid19, '.user_notes': user.user_notes }
      main_form = { '#edit_main_form .user_id': user.id, '#edit_main_form .first_name': user.first_name, '#edit_main_form .last_name': user.last_name, '#edit_main_form .maiden_name_pid6': user.maiden_name_pid6, '#edit_main_form .gender_pid8': user.gender_pid8,
        '#edit_main_form .dob_pid7': user.dob_pid7,  '#edit_main_form .email_user':user.email, '#edit_main_form .birth_town_pid23': user.birth_town_pid23, '#edit_main_form .birth_country_pid23': user.birth_country_pid23,
        '#edit_main_form .idc_num':user.idc_num, '#edit_main_form .ssn_pid19': user.ssn_pid19, '#edit_main_form .user_notes': user.user_notes
           }
      fill_user(main_data,'details');
      fill_user(main_form,'form')
      },
    error: function () {
      alert('User not found!');
      }
  });
}

function test_null(value, ifnull) {
  if (value == null) {
    value = ifnull;
    return value;
  } else { return value; }
}

function get_user_name (index, id, attribute, list) {
  var API_URL = '{{=URL('api','users/user', scheme=True, host=True)}}/';
  var test_mod = " ";
  if (index == 0) { $('li#li_'+list+id).attr(attribute,'unknown id');}
  else {
    $.ajax({
      url: API_URL+ index,
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        if (attribute == 'data-createdby') {
          text = 'created by ';
        } else {
          text = 'modified by ';
        };
        $('li#li_'+list+id).attr(attribute,data.content[0].first_name + ' '+ data.content[0].last_name);
        $('li#li_'+list+id).attr('title', function(i,title) {
          return title + text +data.content[0].first_name + ' '+ data.content[0].last_name+' ';
        });
        test_mod = $('li#li_'+list+id).attr('title');
        if (test_mod.indexOf('modified') > -1) {
              $(' li#li_'+list+id).attr('title', function(i,title) {
              return title+$(' li#li_'+list+id).attr('data-modifiedon');
            });
        };
        },
      error: function () {
        $(list+' li#li_'+list+id).attr(attribute,'unknown get');
        }
    });
  }
}

function resetForm($form) {
  $form.find('input:text, input:password, input:file, select, textarea').val('');
  $form.find('input:radio, input:checkbox')
     .removeAttr('checked').removeAttr('selected');
}

</script>
