{{extend 'layout.html'}}
{{block head}}
<!-- bootstrap-table -->
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-table.css')}}" />
<script src="{{=URL('static','js/bootstrap-table.js')}}"></script>
<script src="{{=URL('static','/locales/bootstrap-table-fr-BE.min.js')}}"></script>
<!-- https://github.com/walmik/timer.jquery -->
<script src="{{=URL('static','js/validator.js')}}"></script>
<!-- www.eyecon.ro/bootstrap-datepicker/ -->
<script src="{{=URL('static','js/bootstrap-datepicker.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-datepicker3.css')}}" />
<!-- https://github.com/walmik/timer.jquery -->
<script src="{{=URL('static','js/timer.jquery.min.js')}}"></script>
<!-- https://github.com/datejs/Datejs -->
<script src="{{=URL('static','js/date.js')}}"></script>
<script src="{{=URL('static','js/date-fr-BE.js')}}"></script>
<style>
       .billing {
           color: orange;
       }
       .update {
           color: green;
       }
       .examination {
           color: blue;
       }
       .remove {
           color: red;
       }
       .worklist {
           color: black;
       }
       .glyphicon {
         margin: 5px;
       }
       .tooltip {
         font-size: 8px;
        }
       .input-group > .form-control, .input-group > .input-group-addon {
         height: 46px;
         padding-top: 10px;
         padding-bottom: 10px;
       }

</style>
{{end}}


<div class="container-fluid" id="div_wl">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h1>Worklist</h1>
          <p class="toolbar">
            <span class="alerte_wl"></span>
          </p>
      </div>
      <table id="wl_table"
          data-id-field="id"
          data-show-refresh="true"
          data-show-columns="true"
          data-search="true"
          data-toggle="table"
          data-detail-view="true"
          data-detail-formatter="detailFormatter_wl"
          data-response-handler="responseHandler_wl"
          data-query-params="queryParams"
          data-row-style="rowStyle"
          data-row-attributes="rowAttributes"
          data-toolbar="#div_wl .toolbar">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="patient" data-sortable="true">Patient</th>
            <th data-field="exam2do_OBR4" data-title="Exam to do:" data-sortable="true">Exam to be done:</th>
            <th data-field="provider_OBR16" data-sortable="true">Provider:</th>
            <th data-field="receving_facility_MSH6" data-sortable="true">Receiving facility:</th>
            <th data-field="requested_time_OBR6" data-sortable="true">Timeslot:</th>
            <th data-field="modality_dest_OBR24" data-sortable="true" data-formatter="modalityFormatter">Modality destination:</th>
            <th data-field="status_flag" data-sortable="true">Status:</th>
            <th data-field="action_wl"
                data-align="center"
                data-formatter="actionFormatter_wl"
                data-events="actionEvents_wl">Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>


<div class="container-fluid" id="listing">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h1>{{=group}}s</h1>
          <p class="toolbar">
            <a href="javascript:" class="create btn btn-default">New {{=group}}</a>
            <span class="alerte_listing"></span>
          </p>
      </div>
      <table id="table"
          data-id-field="id"
          data-show-refresh="true"
          data-show-columns="true"
          data-search="true"
          data-toggle="table"
          data-detail-view="true"
          data-detail-formatter="detailFormatter"
          data-response-handler="responseHandler"
          data-query-params="queryParams"
          data-toolbar=".toolbar">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="first_name" data-title="First name" data-sortable="true">First name:</th>
            <th data-field="last_name" data-sortable="true">Last name:</th>
            <th data-field="dob_pid7" data-sortable="true">Date of birth:</th>
            <th data-field="age" data-sortable="true">Age:</th>
            <th data-field="gender_pid8" data-sortable="true">Gender:</th>
            <!-- <th data-field="birth_town_pid23" data-sortable="true">Town of birth:</th>
            <th data-field="birth_country_pid23" data-sortable="true">Country of birth:</th>
            <th data-field="idc_num">ID card number:</th>
            <th data-field="ssn_pid19">SSN:</th> -->
            <th data-field="action"
                data-align="center"
                data-formatter="actionFormatter"
                data-events="actionEvents">Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="new_patient" role="form">
        <div class="modal-header">
          <button type="button" class="close btn btn-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title .text-center" id="">New {{=group}}</span></h4>
        </div>
        <div class="modal-body">
          <div class="form-group hidden">
            <label>ID:</label>
            <input type="text" class="form-control user_id" name="id" placeholder="ID" value="">
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label>First name:</label>
            <div class="input-group">
              <input type="text" class="form-control first_name" name="first_name" placeholder="First name" value="" required>
            </div>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-6">
              <label>Last name:</label>
              <input type="text" class="form-control last_name" name="last_name" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-group">
            <label>Maiden name</label>
            <input type="text" class="form-control maiden_name_pid6" name="maiden_name_pid6" placeholder="Maiden name">
          </div>
          <div class="form-group">
            <label class="radio-inline"><input type="radio" name="gender_pid8" value="1" required>Male</label>
            <label class="radio-inline"><input type="radio" name="gender_pid8" value="2" required>Female</label>
            <label class="radio-inline"><input type="radio" name="gender_pid8" value="3" required>Undetermined</label>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label">Email:</label>
            <input type="email" class="form-control email_user" name="email" placeholder="email" id="inputEmail" data-error="Email address is required or invalid" required>
          </div>
          <div class="row">
              <div class="form-group col-sm-6">
                <label>Password:</label>
                <input type="password" class="form-control last_name" id="user_pass" name="password" placeholder="Password" data-minlenght="6" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors">Minimum of 6 characters</div>
              </div>
              <div class="form-group col-sm-6">
                <label>Confirm password:</label>
                <input type="password" class="form-control last_name" name="passwordcheck" placeholder="Password" data-match-error="Please match passwords" data-match="#user_pass">
                <div class="help-block with-errors"></div>
              </div>
          </div>
          <div ="row">
            <div class="form-group col-sm-4">
              <label>Date of birth:</label>
              <div class="input-group">
                <div class="input-group-addon"><span class=" glyphicon glyphicon-th" onclick="$('#new_patient .datepicker').datepicker('show');"></span></div>
                <input type="text" class="form-control dob_pid7 datepicker" pattern="^\d{4}-((0[1-9])|(1[012]))-((0[1-9]|[12]\d)|3[01])$" name="dob_pid7" placeholder="YYYY-MM-DD" required>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label>Town of birth:</label>
              <input type="text" class="form-control birth_town_pid23" name="birth_town_pid23" placeholder="Town of birth">
            </div>
            <div class="form-group col-sm-4">
              <label>Country of birth:</label>
              <input type="text" class="form-control birth_country_pid23" name="birth_country_pid23" placeholder="Country of birth">
            </div>
          </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label>ID card number:</label>
                <input type="text" class="form-control idc_num" name="idc_num" placeholder="ID card number">
              </div>
              <div class="form-group col-sm-6">
                <label>Social security number:</label>
                <input type="text" class="form-control ssn_pid19" name="ssn_pid19" placeholder="Social security number">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning pull-left" onclick="resetForm($('#new_patient'));">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary submit">Submit</button>
          <span class="duplicate"><button type="button" class="btn btn-danger" id="check_duplicate">{{=group}} may exists, OK to create?</button></span>
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  var API_URL = '{{=URL('api','users/membership/'+membership+'/user', scheme=True, host=True)}}';
  var $table = $('#table').bootstrapTable({
        url:'{{=URL('api','users_list/'+membership, scheme=True, host=True)}}'}),
      $table_wl = $('#wl_table').bootstrapTable({
        url: '{{=URL('api','wl', scheme=True, host=True)}}'
      });
  var $alert = $('.alerte_listing').hide();
  var timer_id = [];

  $(function() {
    var $modal = $('#modal').modal({show: false});
    var $duplicate = $('.duplicate').hide();
    resetForm($('#new_patient'));
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    $modal.on('hidden.bs.modal', function (){
      $('.submit').show();
      $duplicate.hide();
    });

    $('#new_patient .datepicker').datepicker({
                    format: "yyyy-mm-dd"
                });

    $('#modal')
      .on('shown.bs.modal', function (e) {
        $('#new_patient').validator();
        $('#new_patient .datepicker').datepicker({
                        format: "yyyy-mm-dd"
                    });
        })
      .on('hidden.bs.modal', function (e) {
        $('#new_patient').validator('destroy');
        $('#new_patient .datepicker').datepicker('destroy');
      });

    $('.create').click(function () {
      $modal.modal('show');
    });

    $modal.find('.submit').click(function (e) {
      if ( $('#new_patient .submit').hasClass('disabled'))
        { e.preventDefault();
          return true; }
      else {
        var row = {};
        e.preventDefault(); // on empeche l'envoi du formulaire par le navigateur
        $modal.find('input[name]').each(function () {
          row[$(this).attr('name')] = $(this).val();
        });
        row['gender_pid8'] = $('input:radio[name=gender_pid8]').filter(':checked').val();
        row['first_name'] = titleCase($('input[name=first_name]').val());
        row['last_name'] = titleCase($('input[name=last_name]').val());
        delete row['passwordcheck'];
        check_duplicate(encodeURIComponent(row['first_name']),encodeURIComponent(row['last_name']),row['dob_pid7'],row);
      }
    });

    function post_new_user_form(row) {
      var API_URL = '{{=URL('api','users/auth_user', scheme=True, host=True)}}/';
      $.ajax({
        url: API_URL,
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify(row),
        success: function (text) {
          id = text.slice(text.indexOf('id(')+3,text.indexOf(') ***'));
          if ( id == 'None') {
            $modal.modal('hide');
            showAlert('Unable to add new patient!','danger', 'alerte_listing');
          } else {
          add_membership(id,2);
          $modal.modal('hide');
          resetForm($('#new_patient'));
          $table.bootstrapTable('refresh');
          showAlert('Created','success', 'alerte_listing');
          }
          },
          error: function () {
            $modal.modal('hide');
            showAlert('Unable to add new patient!','danger', 'alerte_listing');
          }
        });
    }

    function check_duplicate(first,last,dob,row) {
      var API_URL = '{{=URL('api','users/user', scheme=True, host=True)}}/'+encodeURIComponent(first)+ '/' +encodeURIComponent(last)+ '/' +dob;
      $.ajax({
        url: API_URL,
        type: 'get',
        contentType: 'application/json',
        dataType: "json",
        success: function(data) {
          duplicate_list = data.content;
          if ( jQuery.isEmptyObject(duplicate_list) == true) {
            console.log('Not a duplicate');
            post_new_user_form(row); }
          else {
            console.log('Duplicate check');
            $duplicate.show();
            $('.submit').hide();
            $('#check_duplicate').click( function(){
            post_new_user_form(row);
            $('.submit').show();
            $duplicate.hide();
            });
          }
        },
        error: function () {
          showAlert('Unable to check if duplicate!','danger', 'alerte_listing');
        }
      });
    }

    $('#wl_table').on('post-body.bs.table', function () {
      set_timers(timer_id);
      console.log(timer_id);
    });

  }); // document.ready

    //window.actionEvents not working if in the document.ready
    window.actionEvents = {
      'click .update': function (e,value,row) {
      location.href = '{{=URL('default','update_user', scheme=True, host=True)}}/'+row.id;
      },
      'click .remove': function (e, value, row) {
          if (confirm('Are you sure to delete this item?')) {
              $.ajax({
                  url: '{{=URL('api','users/auth_user', scheme=True, host=True)}}/'+ row.id,
                  type: 'delete',
                  success: function () {
                      $table.bootstrapTable('refresh');
                      showAlert('Delete item successful!', 'success', 'alerte_listing');
                  },
                  error: function () {
                      showAlert('Delete item error!', 'danger', 'alerte_listing');
                  }
              })
          }
      },
      'click .open':function (e,value,row) {
        location.href ='{{=URL('default','file', scheme=True, host=True)}}/'+row.id;
      }
    }

    window.actionEvents_wl = {
      'click .update': function (e,value,row) {
      // location.href = '{{=URL('default','api_users/worklist', scheme=True, host=True)}}/'+row.id;
      },
      'click .remove': function (e, value, row) {
          if (confirm('Are you sure to delete this item?')) {
              $.ajax({
                  url: '{{=URL('api','wl/worklist', scheme=True, host=True)}}/'+ row.id,
                  type: 'delete',
                  success: function () {
                      $table_wl.bootstrapTable('refresh');
                      showAlert('Delete item successful!', 'success', 'alerte_wl');
                  },
                  error: function () {
                      showAlert('Delete item error!', 'danger', 'alerte_wl');
                  }
              })
          }
      }
    }

    function showAlert(title, type, div) {
      $alert.attr('class', div+' alert alert-' + type || 'success')
            .html('<i class="glyphicon glyphicon-check"></i> ' + title).show();
      setTimeout(function () {
          $alert.hide();
          }, 5000);
    }

  function add_membership(user_id,membership) {
    var row = {'user_id': user_id, 'group_id': {{=membership}}};
    $.ajax({
      url: '{{=URL('api','users/auth_membership', scheme=True, host=True)}}/',
      type: 'post',
      contentType: 'application/json',
      data: JSON.stringify(row),
      success: function (text) {
        console.log(text);
      },
      error: function () {
        showAlert('Unable to set membership!','danger', 'alerte_listing');
      }
    });
  }

  function responseHandler(res) {
    list = res.content;
    display = [];
    $.each(list, function(i) {
      display.push({'id': list[i].user.id,
       'first_name': list[i].user.first_name,
       'last_name': list[i].user.last_name,
       'dob_pid7': list[i].user.dob_pid7,
       'gender_pid8': list[i].gender.sex,
       'age': getAge(list[i].user.dob_pid7)
      });
    });
    return display;
  }

  function responseHandler_wl(res) {
    worklist = res.content;
    display = [];
    $.each(worklist, function(i) {
      display.push({'id': worklist[i].worklist.id,
       'provider_OBR16': worklist[i].provider.first_name+' '+worklist[i].provider.last_name,
       'patient': worklist[i].patient.first_name+' '+worklist[i].patient.last_name,
       'receving_facility_MSH6': worklist[i].facility.facility_name,
       'status_flag': worklist[i].worklist.status_flag,
       'requested_time_OBR6': worklist[i].worklist.requested_time_OBR6,
       'modality_dest_OBR24': worklist[i].modality.modality_name,
       'created_by': worklist[i].creator.first_name+' '+worklist[i].creator.last_name,
       'created_on': worklist[i].worklist.created_on,
       'modified_by': worklist[i].editor.first_name+' '+worklist[i].editor.last_name,
       'modified_on': worklist[i].worklist.modified_on,
       'exam2do_OBR4': worklist[i].exam2do_OBR4.exam_description
      });
    });
    return display;
  }

  function detailFormatter(index, row) {
    var html = [];
    label = {id: 'ID', first_name: 'First name', last_name: 'Last name',
              dob_pid7: 'Date of birth', age: 'age', gender_pid8: 'Gender'
              };
    $.each(row, function (key, value) {
      if (!(key in label)) {} else {
        html.push('<p><b>' + label[key] + ':</b> ' + value + '</p>'); }
      });
    // html.splice(0, 0, html.splice(3,1)[0]); // arr.splice(newIndex, 0, arr.splice(oldIndex, 1)[0]);
    return html.join('');
  }

  function detailFormatter_wl(index, row) {
    var html = [];
    label = {id: 'ID', exam2do_OBR4: 'Exam to be done', provider_OBR16: 'Provider', receving_facility_MSH6: 'Department',
              requested_time_OBR6: 'Timeslot', modality_dest_OBR24: 'Modality destination', status_flag: 'Status'
            };
    $.each(row, function (key, value) {
      if (!(key in label)) {} else {
        html.push('<p><b>' + label[key] + ':</b> ' + value + '</p>'); }
      });
    return html.join('');
  }

  function queryParams(params) {
      return {};
  }

  function actionFormatter(value) {
      return [
          '<a class="open" href="javascript:" title="Open user details"><i class="glyphicon glyphicon-user"></i></a>  ',
          '<a class="examination" href="javascript:" title="New examination"><i class="glyphicon glyphicon-star-empty"></i></a>',
          '<a class="billing" href="javascript:" title="Billing"><i class="glyphicon glyphicon-euro"></i></a>',
          '<a class="worklist pull-right" href="javascript:" title="Add to worklist"><i class="glyphicon glyphicon-download-alt"></i></a>',
          '<a class="remove" href="javascript:" title="Delete"><i class="glyphicon glyphicon-remove-circle"></i></a>'
      ].join('');
  }

  function actionFormatter_wl(value) {
      return [
          '<a class="Update" href="javascript:" title="Update WL"><i class="glyphicon glyphicon-pencil"></i></a>  ',
          '<a class="remove" href="javascript:" title="Delete"><i class="glyphicon glyphicon-remove-circle"></i></a>'
      ].join('');
  }

  function rowStyle(row, index) {
      var classes = ['active', 'success', 'info', 'warning', 'danger'];
      if (row.status_flag == 'requested') {
          return { classes: classes[4] };
      } else if (row.status_flag== 'in process') {
          return { classes: classes[2] };
      } else if (row.status_flag== 'done') {
          return { classes: classes[1] };
      } else if (row.status_flag== 'cancelled') {
          return { classes: classes[3] };
      }
      return {};
  }

  function rowAttributes(row,index) {
    row.created_by == '' ? createdby = 'created by unknown' : createdby = 'created by '+row.created_by;
    row.created_on == '' ? createdon = ' on unknown date' : createdon = ' on '+row.created_on;
    row.modified_by == '' ? modifiedby = ' modified by unknown' : modifiedby = ' modified by '+row.modified_by;
    row.modified_on == '' ? modifiedon = ' on unknown date' : modifiedon = ' on '+row.modified_on;
    return { "title": createdby + createdon + modifiedby + modifiedon,
      "data-toggle": "tooltip"
    };
  }

  function modalityFormatter(value,row) {
    lastmodif = Date.parse(row.modified_on);
    var rightnow = new Date();
    elapse = Math.round((lastmodif.getElapsed()-rightnow.getElapsed())/1000);
    timer_id.push('#timer_'+row.id);
    return '<div>'+value+' <span id="timer_'+row.id+'" class="pull-right" style="color: red;">'+elapse+'</span></div>';
  }

  function set_timers(timers) {
    $.each(timers, function(i){
      console.log(timers[i]);
      $(timers[i]).timer({
        seconds: $(timers[i]).text()
      });
    });
    timer_id = [];
  }


  function titleCase(string) {
    return string.charAt(0).toUpperCase() + string.slice(1); }

    function getAge(dateString) {
      var today = new Date();
      var birthDate = new Date(dateString);
      var age = today.getFullYear() - birthDate.getFullYear();
      var m = today.getMonth() - birthDate.getMonth();
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          age--;
      }
      return age;
  }

  function resetForm($form) {
    $form.find('input:text, input:password, input:file, select, textarea').val('');
    $form.find('input:radio, input:checkbox')
       .removeAttr('checked').removeAttr('selected');
  }
</script>
