{{extend 'layout.html'}}
{{block head}}
<style>
  .inclusion {
    background-color: Green;
    color: white;
  }

  .badge {
    magin-left: 2px;
  }
  .badge-inclusions {
    background-color: Green;
    color: White;
  }

  .addCode {
    background-color: Blue;
    color: white;
  }

  .badge-addCode {
    background-color: Blue;
    color: White;
  }
  .exclusions1 {
    background-color: Red;
    color: white;
  }

  .badge-exclusions1 {
    background-color: Red;
    color: White;
  }

  .exclusions2 {
    background-color: Orange;
    color: white;
  }

  .badge-exclusions2 {
    background-color: Orange;
    color: White;
  }

  .subdiag {
    background-color: LightBlue;
    color: black;
    margin-left: 20px;
  }
  .specify {
    background-color: Ivory;
    color: black;
    margin-left: 10px;
  }

  .code {
    background-color: Crimson;
    color: White;
  }

  ol {
    list-style-type: decimal;
  }
</style>
{{end}}

<div class="row">
  <div class="container">
    <div class="col-md-6">
      <form id="diag" class="" action="index.html" onsubmit="return false;">
        <div class="input-group">
          <input type="text" class="form-control desc" placeholder="icd-10 description"></input>
          <span class="input-group-btn"><button class="btn btn-primary submit" type="button">search</button></span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-6">
      <div class="test">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ICD-10 Codes</h3>
        </div>
        <div id="tabular" class="panel-body">
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

$('#diag .submit').click(function(e){
  e.preventDefault();
  search_str= $('#diag input.desc').val();
  console.log(search_str);
  get_diag(search_str);
})

function get_diag(search_str) {
  var API_URL = '{{=URL('api','icd10.xml', scheme=True, host=True)}}?search='+search_str;
  $.ajax({
    url: API_URL,
    type: 'GET',
    dataType: 'xml',
    contentType: 'application/xml',
    success: function (data) {
      html = ['<ol>'];
      $(data).children('main').children('diag').children('desc').each(function() {
        // console.log('desc: '+$(this).text());
        html.push('<li>'+'<div class="main_diag">'+$(this).text()+' <span class="code">'+$(this).parent().children('name').text()+'</span></div>');
        $subdiag = $(this).parent().children('diag').children('desc');
        if ($subdiag.length > 0) {
          html.push('<span class="badge badge-subdiag">Subdiag</span>');
        }
        $addCode = $(this).parent().children('useAdditionalCode').children('note');
        if ($addCode.length >0) {
          html.push('<span class="badge badge-addCode">Code+</span>');
        }
        $inclusion = $(this).parent().children('inclusionTerm').children('note');
        if ($inclusion.length >0) {
          html.push('<span class="badge badge-inclusions">Inclusions</span>');
        }
        $exclusions1 = $(this).parent().children('excludes1').children('note');
        if ($exclusions1.length >0) {
          html.push('<span class="badge badge-exclusions1">Exclusions 1</span>');
        }
        $exclusions2 = $(this).parent().children('excludes2').children('note');
        if ($exclusions2.length >0) {
          html.push('<span class="badge badge-exclusions2">Exclusions 2</span>');
        }
        html.push('<div class="main_diag_content">')
        if ($addCode.length > 0) {
          html.push('<div class="addCode">Use additionnal code<ul>');
          $addCode.each(function() {
            html.push('<li>'+$(this).text()+'</li>');
          });
          html.push('</ul></div>');
        }
        if ($inclusion.length > 0) {
          html.push('<div class="inclusion">Inclusion<ul>');
          $inclusion.each(function() {
            html.push('<li>'+$(this).text()+'</li>');
          });
          html.push('</ul></div>');
        }
        if ($exclusions1.length > 0) {
          html.push('<div class="exclusions1">exclusions1<ul>');
          $exclusions1.each(function() {
            // console.log($(this).text());
            html.push('<li>'+$(this).text()+'</li>');
          });
          html.push('</ul></div>');
        }
        if ($exclusions2.length > 0) {
          html.push('<div class="exclusions2">exclusions2<ul>');
          $exclusions2.each(function() {
            // console.log($(this).text());
            html.push('<li>'+$(this).text()+'</li>');
          });
          html.push('</ul></div>');
        }
        if ($subdiag.length > 0) {
          html.push('<div class="subdiag"><ul>');
          $subdiag.each(function() {
            // console.log($(this).text());
            html.push('<li>'+$(this).text()+' <span class="code">'+$(this).parent().children('name').text()+'</span>');
            $specify = $(this).parent().children('diag').children('desc');
            if ($specify.length > 0) {
              html.push('<span class="badge badge-specify">Specify</span>');
            }
            $exclusions1_sub= $(this).parent().children('excludes1').children('note');
            if ($exclusions1_sub.length > 0) {
              html.push('<span class="badge badge-exclusions1">X1</span>');
            }
            $exclusions2_sub= $(this).parent().children('excludes2').children('note');
            if ($exclusions2_sub.length > 0) {
              html.push('<span class="badge badge-exclusions2">X2</span>');
            }
            $inclusion_sub= $(this).parent().children('inclusionTerm').children('note');
            if ($inclusion_sub.length > 0) {
              html.push('<span class="badge badge-inclusions">I</span>');
            }
            if ($exclusions1_sub.length > 0) {
              html.push('<div class="exclusions1"><ul>');
              $exclusions1_sub.each(function() {
                console.log($(this).text());
                html.push('<li>'+$(this).text()+'</span></li>');
              });
              html.push('</ul></div>'); // div exclusions1_sub
            }
            if ($exclusions2_sub.length > 0) {
              html.push('<div class="exclusions1"><ul>');
              $exclusions2_sub.each(function() {
                console.log($(this).text());
                html.push('<li>'+$(this).text()+'</span></li>');
              });
              html.push('</ul></div>'); // div exclusions2_sub
            }
            if ($inclusion_sub.length > 0) {
              html.push('<div class="inclusion"><ul>');
              $inclusion_sub.each(function() {
                console.log($(this).text());
                html.push('<li>'+$(this).text()+'</span></li>');
              });
              html.push('</ul></div>'); // div inclusion_sub
            }
            if ($specify.length > 0) {
              console.log($(this).text());
              html.push('<div class="specify"><ul>');
              $specify.each(function() {
                console.log($(this).text());
                html.push('<li>'+$(this).text()+' <span class="code">'+$(this).parent().children('name').text()+'</span></li>');
              });
              html.push('</ul></div>'); // div specify
            }
            html.push('</li>') // li subdiag
          });
          html.push('</ul></div>'); // div subdiag
        }
        html.push('</li></div>'); // div main_diag_content
      });
      html.push('</ol>');
      $('div#tabular').html(html.join(''));
      $('div.specify').hide();
      $('div.subdiag div.exclusions1').hide();
      $('div.subdiag div.exclusions2').hide();
      $('div.subdiag div.inclusion').hide();
      $('div.subdiag > ul > li').click(function(e){
        $(this).children('div.subdiag div.specify').toggle();
        $(this).children('div.subdiag div.exclusions1').toggle();
        $(this).children('div.subdiag div.exclusions2').toggle();
        $(this).children('div.subdiag div.inclusion').toggle();
         return false;
      });
      $('div.main_diag_content').hide();
      $('div.main_diag').click(function(){
        $(this).parent().children('div.main_diag_content').toggle();
        return false;
      });
    },
    error: function () {
      console.log('error getting exams');
      }
  });
  }

$(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
}); // document ready

</script>
