{{ from datetime import datetime
  patientname = db(db.auth_user.id == id_auth_user).select(db.auth_user.first_name, db.auth_user.last_name, db.auth_user.dob_pid7).first()
  patient = patientname.first_name + ' ' + patientname.last_name
  dob = patientname.dob_pid7
  worklistid = db(db.worklist.id == id_worklist).select(db.worklist.message_unique_id_MSH10, db.exam2do_OBR4.exam_description, db.worklist.requested_time_OBR6, db.worklist.status_flag, db.worklist.created_on,
    left=[db.exam2do_OBR4.on(db.exam2do_OBR4.id==db.worklist.exam2do_OBR4)]).first()
  exam = worklistid.exam2do_OBR4.exam_description
  timeslot = worklistid.worklist.requested_time_OBR6
  task = worklistid.worklist.message_unique_id_MSH10
  status = XML(worklistid.worklist.status_flag)
  createdOn = worklistid.worklist.created_on
  createdOnstr = createdOn.strftime('%Y-%m-%d %H:%M:%S')
  dateConsult = createdOn.strftime('%Y-%m-%d')
  dateFrom = createdOn.replace(hour=0,minute=0,second=0)
  dateTo = (dateFrom.replace(hour=23,minute=59,second=59)).strftime('%Y-%m-%d %H:%M:%S')
  dateFrom = dateFrom.strftime('%Y-%m-%d %H:%M:%S')
 }}
{{pass}}

{{extend 'layout.html'}}

{{block head}}
<!-- https://github.com/silviomoreto/bootstrap-select.git -->
<!-- bootstrap-table -->
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-table.css')}}" />
<script src="{{=URL('static','js/bootstrap-table/bootstrap-table.js')}}"></script>
<script src="{{=URL('static','js/bootstrap-table/locales/bootstrap-table-fr-BE.min.js')}}"></script>
<script src="{{=URL('static','js/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','js/bootstrap-select/css/bootstrap-select.min.css')}}" />
<link rel="stylesheet" href="{{=URL('static','css/color_palette1.css')}}" />
<!-- https://github.com/datejs/Datejs -->
<script src="{{=URL('static','js/datejs/date.js')}}"></script>
<style>
  .btn-back {
    margin: 10px;
  }

  .btn-done {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 3px;
  }

  .task {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .col-centered {
      float: none;
      margin: 0 auto;
  }

  h3, h1 {
    text-align: center;
  }

  .consult_content {
    border:1px solid grey;
  }

  .left_mes, .left_clinic {
    text-align: left;
  }

  .right_mes, .right_clinic {
    text-align: right;
  }

  .both_mes, .both_clinic {
    text-align: center;
  }

  #objective, #clinical {
     border: 1px solid grey;
     margin-bottom: 5px;
     text-align: center;
  }

  #objective table, #objective table th  {
    text-align: center;
  }
  .badge-rx, .badge-tono, .badge-kerato, .badge-air, .badge-apla {
   margin-right: 3px;
   margin-left: 3px;
  }

  .badge-rx {
    background-color: #2f2d8e;
  }

  .badge-kerato {
    color: #2f2d8e;
    border: 1px solid #2f2d8e;
    background-color: transparent;
  }

  .badge-air {
    background-color: rgb(117, 195, 203);
  }

  .badge-apla {
    background-color: #2e09a8;
  }

  .rx_mes {
    border: 1px dotted grey;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .label-as-badge {
      border-radius: 1em;
  }

</style>
{{end}}

<div class="container-fluid"> <!--header/title -->
  <div class="row"> <!--header -->
    <div class="col-sm-4">
      <a href="{{=URL('default','home', scheme=True, host=True )}}" class="btn btn-info btn-back" role="button">Back</a>
    </div>
    <div class="col-sm-4 patient">
        <h1>Patient <strong>{{=patient}}</strong> <small>{{=dob}}</small></h1>
    </div>
    <div class="col-sm-4">
      <div class="pull-right task">
        <span class="timeslot well">
          <span>Task planned for <em>{{=timeslot}}</em></span>
        </span>
        <span class="btn-done">
          <button type="button" class="btn-info btn"><span class="icon-done"></span><span class="text-done">Set to done</span></button>
        </span>
      </div> <!--task -->
    </div>
  </div> <!--header -->
  <div class="row"> <!-- title -->
    <div class="col-sm-12">
      <div class="well well-sm">
        <h3>{{=exam.upper()}} from {{=dateConsult}}</h3>
      </div>
    </div>
  </div>
</div> <!--header/title -->

<div class="container-fluid" id="objective">
  <div class="row">
    <div class="col-md-8">
      <div class="row"> <!-- row both mes -->
        <div class="col-md-12 both_mes">
          <div class="well well-sm">
            Both eyes
          </div>
          <div class="drop">drop</div>
        </div>
      </div> <!-- row both mes -->
      <div class="row"> <!-- row left right eye -->
        <div class="col-md-6 right_mes"> <!-- right mes -->
          <div class="well well-sm">
            Right eye
          </div>
        </div> <!-- right mes -->
        <div class="col-md-6 left_mes"> <!-- left mes -->
          <div class="well well-sm">
            Left eye
          </div>
        </div> <!-- left mes -->
      </div> <!-- row left right eye -->
    </div>
    <div class="col-md-4 history">
      <div class="well well-sm">
        History
      </div>
    </div> <!-- row history -->
  </div> <!-- row -->
</div> <!-- container -->

<div class="container-fluid" id="clinical">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        Clinical exam
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 both_clinic">
      <div class="row">
        <div class="col-md-6 right_clinic">
          <div class="well well-sm">
            Right eye
            <div class="pull-left">
              <button type="button" class="btn btn-info btn-xs ant-right">Anterior</button>
              <button type="button" class="btn btn-warning btn-xs ant-right">Posterior</button>
              <button type="button" class="btn btn-success btn-xs ant-right">Diag</button>
              <button type="button" class="btn btn-danger btn-xs ant-right">Strategy</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 left_clinic">
          <div class="well well-sm">
            Left eye
            <div class="pull-right">
              <button type="button" class="btn btn-info btn-xs ant-left">Anterior</button>
              <button type="button" class="btn btn-warning btn-xs ant-left">Posterior</button>
              <button type="button" class="btn btn-success btn-xs ant-left">Diag</button>
              <button type="button" class="btn btn-danger btn-xs ant-left">Strategy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-sm action_clinic">
        Prescriptions
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_ant" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="form_ant">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Anterior biomicroscopy for {{=patient}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group hidden">
            <label>Task ID</label>
            <input type="text" class="form-control id_worklist" name="id_worklist" value="">
          </div>
          <div class="form-group hidden">
            <label>Patient ID</label>
            <input type="text" class="form-control id_auth_user" name="id_auth_user" value="">
          </div>
          <div class="form-group hidden">
            <label>Laterality</label>
            <input type="text" class="form-control laterality" name="laterality" value="">
          </div>
          <div class="form-group">
            <label>Cornea</label>
            <input type="text" class="form-control cornea" name="cornea" value="">
          </div>
          <div class="form-group">
            <label>Anterior chamber</label>
            <input type="text" class="form-control ant_chamb" name="ant_chamb" value="">
          </div>
          <div class="form-group">
            <label>Iris</label>
            <input type="text" class="form-control iris" name="iris" value="">
          </div>
          <div class="form-group">
            <label>Lens</label>
            <input type="text" class="form-control lens" name="lens" value="">
          </div>
          <div class="form-group">
            <label>Vitreous</label>
            <input type="text" class="form-control vitreous" name="vitreous" value="">
          </div>
          <div class="form-group">
            <label>Retina</label>
            <input type="text" class="form-control retina" name="papil" value="">
          </div>
          <div class="form-group">
            <label>Optic nerve</label>
            <input type="text" class="form-control papil" name="papil" value="">
          </div>
          <div class="form-group">
            <label>Other</label>
            <input type="text" class="form-control other" name="other" value="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
var rows = [];
get_exams({{=id_auth_user}},'{{=dateFrom}}','{{=dateTo}}');

$(function() {
  $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  var $modal_ant = $('#modal_ant').modal({show: false});

$('#clinical .right_clinic button.ant-right').click(function(e){
  $('#modal_ant').modal('show');
});

$('#form_ant button.submit').click(function(e){
  var row = {};
  $('#form_ant input.id_auth_user').val({{=id_auth_user}});
  $('#form_ant input.id_worklist').val({{=id_worklist}});
  e.preventDefault();
  $('#form_ant').find('input[name]').each(function () {
    row[$(this).attr('name')] = $(this).val();
  });
  row['laterality']='right';
  console.log(row);
  // post_ant_form(row,'POST','right');
});

}); // get ready function


function get_exams(id,dateFrom,dateTo) {
  var API_URL = '{{=URL('api','consult', scheme=True, host=True)}}?id_auth_user='+id+'&dateFrom='+dateFrom+'&dateTo='+dateTo;
  $.ajax({
    url: API_URL,
    type: 'GET',
    dataType: 'json',
    contentType: 'application/json',
    success: function (data) {
      console.log(data);
      rows = data;
      for (i in rows) {
        for (exams in rows[i]) { // rows[0] = {tono: Array[4]}
          // console.log('rows['+i+']['+exams+']')
          // console.log(rows[i][exams]);
          for (x in rows[i][exams]) {
            console.log('rows['+i+']['+exams+']['+x+']');
            console.log(rows[i][exams][x]);
            if (exams == 'rx') {
              html = [];
              side = rows[i][exams][x]['rx']['laterality'][0];
              lat = ( side == 'right'? 'right':'left');
              contralat = (side == 'right'? 'left':'right');
              console.log(lat);
              createdOn= rows[i][exams][x]['rx']['created_on'];
              rx_origin = rows[i][exams][x]['rx']['rx_origin'][0];
              glass_type = rows[i][exams][x]['rx']['glass_type'][0];
              va_far = rows[i][exams][x]['rx']['va_far'];
              opto_far = rows[i][exams][x]['rx']['opto_far'];
              sph_far = round2dec(rows[i][exams][x]['rx']['sph_far']);
              cyl_far = round2dec(rows[i][exams][x]['rx']['cyl_far']);
              axis_far = rows[i][exams][x]['rx']['axis_far']+'°';
              va_int = rows[i][exams][x]['rx']['va_int'];
              opto_int = rows[i][exams][x]['rx']['opto_int'];
              sph_int = round2dec(rows[i][exams][x]['rx']['sph_int']);
              cyl_int = round2dec(rows[i][exams][x]['rx']['cyl_int']);
              axis_int = rows[i][exams][x]['rx']['axis_int']+'°';
              va_close = rows[i][exams][x]['rx']['va_close'];
              opto_close = rows[i][exams][x]['rx']['opto_close'];
              sph_close = round2dec(rows[i][exams][x]['rx']['sph_close']);
              cyl_close = round2dec(rows[i][exams][x]['rx']['cyl_close']);
              axis_close = rows[i][exams][x]['rx']['axis_close']+'°';
              se_far = round2dec(rows[i][exams][x]['rx']['sph_far']+rows[i][exams][x]['rx']['cyl_far']/2);
              html.push('<div data-toggle="tooltip" data-placement="'+contralat+'" title="'+createdOn+'" class="rx_mes">');
              if ((rx_origin == 'autorx')|(rx_origin == 'dil')|(rx_origin == 'cyclo')) {
                html.push('<div><span class="badge badge-rx pull-'+lat+'">'+rx_origin+'</span></div>');
                html.push('<div>VA(<strong>far</strong>,'+opto_far+')=<strong>'+va_far+'</strong> / <strong>'+sph_far+'('+cyl_far+' x'+axis_far+')</strong> / SE=<strong>'+se_far+'</strong></div>')
                html.push('</div>');
                html=html.join('');
                $('#objective .'+lat+'_mes').append(html);
              } else if (glass_type == 'monofocal') {
                html.push('<div><span class="badge badge-rx pull-'+lat+'">'+rx_origin+' '+glass_type+'</span></strong> SE=<strong>'+se_far+'</strong></div>');
                html.push('<div>VA(<strong>far</strong>,'+opto_far+')=<strong>'+va_far+'</strong> with <strong>'+sph_far+'('+cyl_far+' x'+axis_far+')</strong></div>')
                html.push('</div>');
                html=html.join('');
                $('#objective .'+lat+'_mes').append(html);
              } else if (glass_type == 'degressive') {
                html.push('<div><span class="badge badge-rx pull-'+lat+'">'+rx_origin+' '+glass_type+'</span></div>');
                html.push('<div>VA(<strong>far</strong>,'+opto_int+')=<strong>'+va_int+'</strong> with <strong>'+sph_int+'('+cyl_int+' x'+axis_int+')</strong></div>')
                html.push('<div>VA(<strong>int</strong>,'+opto_close+')=<strong>'+va_close+'</strong> with <strong>'+sph_close+'('+cyl_close+' x'+axis_close+')</strong></div>');
                html.push('</div>');
                html=html.join('');
                $('#objective .'+lat+'_mes').append(html);
              } else {
                html.push('<div><span class="badge badge-rx pull-'+lat+'">'+rx_origin+' '+glass_type+'</span></strong> SE=<strong>'+se_far+'</strong></div>');
                html.push('<table class="table table-condensed table-striped table-responsive"><thead><tr><th>Dist</th>')
                html.push('<th>VA</th><th>sph</th><th>cyl</th><th>axis</th><th>opto</th></tr></thead>')
                html.push('<tbody><tr><td>Far</td><td>'+va_far+'</td><td>'+sph_far+'</td><td>'+cyl_far+'</td><td>'+axis_far+'</td><td>'+opto_far+'</td></tr>')
                html.push('<tr><td>Int</td><td>'+va_int+'</td><td>'+sph_int+'</td><td>'+cyl_int+'</td><td>'+axis_int+'</td><td>'+opto_int+'</td></tr>')
                html.push('<tr><td>Close</td><td>'+va_close+'</td><td>'+sph_close+'</td><td>'+cyl_close+'</td><td>'+axis_close+'</td><td>'+opto_close+'</td></tr></tbody></table>')
                html.push('</div>');
                html=html.join('');
                $('#objective .'+lat+'_mes').append(html);
              };
            } else if (exams =='topo') {
              side = rows[i][exams][x]['topography']['laterality'][0];
              lat = ( side == 'right'? 'right':'left');
              contralat = (side == 'right'? 'left':'right');
              console.log(lat);
              createdOn = rows[i][exams][x]['topography']['created_on'];
              k1 = rows[i][exams][x]['topography']['k1']+'mm@';
              k2 = rows[i][exams][x]['topography']['k2']+'mm@';
              axis1 = rows[i][exams][x]['topography']['axis1']+'°';
              axis2 = rows[i][exams][x]['topography']['axis2']+'°';
              $('#objective .'+lat+'_mes').append('<div data-toggle="tooltip" data-placement="'+contralat+'" title="'+createdOn+'" class="'
                 +'"><span class="badge badge-kerato pull-'+lat+'">kerato</span> <strong>K1='+k1+axis1
                  +' K2='+k2+axis2+'<strong></div>');
            } else if (exams =='tono') {
              side = rows[i][exams][x]['tono']['laterality'][0];
              lat = (side == 'right'? 'right':'left');
              contralat = (side == 'right'? 'left':'right');
              console.log(lat);
              tio = rows[i][exams][x]['tono']['tonometry']+'mmHg';
              techno = rows[i][exams][x]['tono']['techno'][0];
              createdOn = ' @ '+(Date.parse(rows[i][exams][x]['tono']['created_on'])).toString('HH:mm');
              html =[];
              $('#objective .'+lat+'_mes').append('<div class="'+'"><span class="badge badge-tono pull-'+lat+'">TIO</span><span class="badge badge-'
               +techno+' pull-'+lat+'">'+techno+'</span><strong>'+tio+'</strong>'+createdOn+'</div>');
            };
            // for (m in rows[i][exams][x]) {
            //console.log('rows['+i+']['+exams+']['+x+']'+'['+m+']');
            //console.log(rows[i][exams][x][m]);
            //$('.consult_content').append('<li>'+rows[i][exams][x][m]+'</li>');
            // }
          };
        };
      };
    },
    error: function () {
      console.log('error getting exams');
      }
  });
  }

  function round2dec(num) {
    num = Math.round(num*100)/100;
    num = num.toFixed(2);
    num >0? num='+'+num : {};
    return num;
  }

</script>
